@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap');
*{
 margin: 0 auto;
}
/* -----------
    Common CSS
-------------- */
body{
    border: 1px solid red;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 4px;
    margin: 30px 0;
    cursor: pointer;
}

section{
    margin-bottom: 130px;
}

.text-color{
    color: #727272;
}
/* -----------------
    Logo & Nav styles 
--------------------*/
.top-banner{
    background-color: #FFF4E7;
}

.container{
    max-width: 1440px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 100px;
}
.logo{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav ul li a{
    color: #424242;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.hero-image{
    padding: 20px 0 45px;
}

/* ---------------------
    Hero Area Style
------------------------*/
.hero-info{
    text-align: center;
}
.hero-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.hero-subtitle{
    color: #727272;
    margin: 30px 286px 0;
}

/* ---------------------
    Features aria style
-------------------------*/
.features-aria, .features-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side {
    flex: 1;
  }
  
  .right-side {
    flex: 1;
  }

  .features-info{
    margin: 80px;
  }
  .info-title{
    font-size: 45px;
  }
  .gray{
    color: #727272;
  }
  .highlight{
    color: #FF900E;
  }
  .info-description{
    color: #727272;
    margin-top: 24px;
  }

/* --------------------------------
    Feature Details Area Style 
-----------------------------------*/
.container.features-details .left-side{
    margin-right: 146px;
}


.header h1{
    color: #131313;
    font-size: 45px;
    font-weight: 700px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 30px;
}

.subheader{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin: 40px 0;
}
.subheader h4{
    font-size: 20px;
    color: #131313;
    font-weight: 600;
}



/* ----------------------------------
    Portfolio 
------------------------------------*/





/* Portfolio items */
.portfolio-items{
    display: flex;
}



/* ------------------------------
        Sponsors Area
--------------------------------- */




/* ------------------------------
            Footer
    -----------------------------
*/
footer .container{
    background-color: #FFF4E7;
    padding: 40px 0;
    text-align: center;
    font-size: 20px;
    color: #424242;
}


/* --------------------
    Media Query 
----------------------*/
/* Nav Responsive */
@media screen and (max-width:576px) {
    header, .nav ul{
        flex-direction: column;
    }
}